body{
    padding-bottom: 65px;
}
h1, h2{
    font-family: 'DM Serif Display', serif;

}

.foot-wrap {
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    height:60px;
}
.navbar-brand {
    font-family: 'DM Serif Display', serif;
    font-size: 30px;
}