body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    padding-bottom: 65px;
    
}
h1{
    font-family: 'DM Serif Display', serif;

}
.go-back {
    margin-left: 20px;
}
img{
    width: 100%;
max-width: 350px;
height: auto;
    object-fit: fill;
    margin-left: 20vw;
}
.cards {
    display: flex;
    justify-content: center;
    
    
    ;
}
.card{
    width: 60rem;
    border-style: none;

}
.image {
    height: 80%;

}
.foot-wrap {
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    height:60px;
}
.navbar-brand {
    font-family: 'DM Serif Display', serif;
    font-size: 30px;
}