body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    padding-bottom: 65px;
}
h1{
    font-family: 'DM Serif Display', serif;

}
img{
    width: 100%;
max-width: 400px;
height: auto;
    object-fit: fill;
}
.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 5vw;
}
.card{
    width: 19rem;
}
.image {
    height: 80%;

}
.foot-wrap {
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    height:60px;
}